.logo {
    color: var(--black-200, #1f1f1f);
    font-weight: bolder;
    font-size: 1.5rem;
}

.navbar--links {
    & * {
        color: black;
        font-size: 1.1rem;
        font-weight: bold;
    }

    display: flex;
    align-items: center;
    gap: 2rem;
}
