@use "../global/" as g;

%flex-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding-block-end: 3rem;

    @include g.for-tablet-portrait-landscape-up {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2.5rem;
    }

    .label {
        @extend %_label;
    }

    .tag {
        @extend %_tag;
    }

    .text {
        color: var(--gray-200);
        line-height: 2rem;
        font-size: clamp(12px, 10px + 1.5vw, 18px);

        @include g.for-tablet-portrait-landscape-up {
            width: calc(55ch + 3vw);
            text-align: start;
        }
    }
}

.primary {
    display: flex;
    width: 520px;
    @include g.for-phone-only {
        width: auto;
    }
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include g.for-tablet-portrait-landscape-up {
        align-items: flex-start;
    }
    gap: 12px;
}

%_label {
    color: var(--black, #000);
    font-size: clamp(22px, 11px + 2vw, 48px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

%_tag {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: .375rem 1.25em;
    border-radius: 6.25rem;
    background: #2ce5d8;
}

%nav-link {
    color: var(--gray-210, #d8d8d8);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 140% */
    text-underline-offset: 0.3rem;
    transition: text-underline-offset 0.3s ease-in;

    &:hover {
        transition: text-underline-offset 0.3s ease-in;
    }

    &.active {
        color: var(--white, #fff);
        transition: color 0.3s ease-in;
    }
}

%active-link {
    &:hover, &.active {
        text-decoration: underline 1px var(--white, #fff);
        transition: text-decoration 0.3s ease-in-out;
    }
}

%border-btn {
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    padding-inline: 16px;
    padding-block: 5px;
    transition: background-color 0.3s ease-in;

    &:hover {
        background-color: #5e5e5e3d;
        transition: background-color 0.3s ease-in;
    }
}
