@use "../../styles//utils/extends";
@use "../../styles/utils/mixins" as m;
@use "../../styles/global/" as g;
@use "../../components/SliderIndicator/indicator";

$testimonialPaddingBlock: 6.25rem;
.testimonial {
    padding-block: $testimonialPaddingBlock;
    background-color: var(--black, #000);
    // color: #fff;
    &--heading {
        @extend %flex-heading;
        & .label {
            width: max-content;
            color: var(--white, #fff);
        }

        & .text {
            color: var(--white, #fff);
        }
    }

    overflow: hidden;
}

.testimonial--body {
    padding-inline: 1rem;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: auto;

    @include g.for-tablet-portrait-landscape-up {
        overflow-x: initial;
        column-gap: 5rem;
        width: auto;
    }
}

.bubble {
    color: var(--black, #000);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3.5rem;
    min-height: 390px;
    width: fit-content;
    @include g.for-phone-only {
        width: auto;
    }

    &:nth-child(odd) {
        display: none;
        @include g.for-desktop-up {
            display: block;
        }
    }

    @include g.for-tablet-portrait-up {
        max-width: 39.5rem;
    }

    @include g.for-tablet-portrait-landscape-up {
        max-width: 45.625rem;
    }

    &.current {
        opacity: 1;
    }

    &--text {
        margin-block-start: 1rem;
        min-height: 220px;
        line-height: 32px;
        font-size: 18px;
        padding-block: clamp(0.2rem, 0.3rem + 1.5vw, .8rem);
        padding-inline: clamp(1rem, 0.8rem + 1.5vw, 3rem);
        text-align: center;
        color: var(--white, #fff);
        background-color: var(--card-black-bg, #21241d);
        border-radius: 4px;
        // background-image: url("/home/bubble.svg");
        // background-repeat: no-repeat;
        // background-size: auto;
        // border-image-source: url("/home/bubble.svg");
        // border-image-slice: fill 10%;
        // border-image-width: auto;
        // border-image-outset: 1px 1px 2.2rem 0.1rem;

        @include g.for-tablet-portrait-landscape-up {
            opacity: 0.6;
        }

        @include g.for-big-desktop {
            text-align: start;
            // border-image-outset: 1px 1px 3.5rem 0.1rem;
        }
    }
    &:nth-of-type(2) {
        .bubble--text {
            opacity: 1;
        }
    }

    & .text--content {
        width: auto;
        display: flex;
        align-items: center;
        height: 100%;
        @include g.for-tablet-portrait-landscape-up {
            width: 31.875rem;
        }
    }

    &-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        & h3 {
            font-size: 1.1rem;
            font-weight: 700;
        }

        & p {
            color: var(--white, #fff);
        }
    }
}

.testimonial {
    & .navigation {
        padding-block-start: 3rem;
        margin-inline: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        @include g.for-tablet-portrait-landscape-up {
            width: 564px;
        }

        & .start {
            @extend %loading-indicator;
        }
    }
}
